{% extends "polls/header.html" %}

{% block content %}    

{% if bruger_list %}
<div class="grid-container">
    {% for bruger in bruger_list %}
    <div class="card centered" style="width: 20rem;">
      <!-- ADD IMAGE PROPERTY TO BRUGER OBJECT -->
      <form action="{% url 'polls:login_request' bruger.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <img class="card-img-top" src="{{ bruger.profile_image.url }}" alt="{{ bruger.profile_image.url }}">
            <h5>{{ bruger.name }}</h5>
        </fieldset>
        <input class="btn btn-primary" type="submit" value="Login">
        </form>
      </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No users registered.</p>
{% endif %}

<style>

  img {
    width: auto;
  }
  
  .card {
    margin: 2rem;
    padding: 1rem;
  }
  
  .grid-container {
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
  }

  .centered {
    text-align: center;
  }
  
  </style>

{% endblock %}
